* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Oswald, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
}

nav {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #000;
}


nav h1 {
    color: white;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 3px;
}

nav h6 {
    font-family: "Papyrus", fantasy;
    color: white;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 3px;

}
nav h1 a {
    border: 2px solid #fff;
    padding: 0.6em 0.6em;
    background:transparent;
    color: white;
    text-decoration: none;
} 


nav h2 a {
    border: 2px solid black;
    padding: 0.6em 1em;
    background:transparent;
    color: white; 
    font-family: Oswald, Helvetica, sans-serif;
    text-decoration: none;
}

nav h2 a:hover {
    cursor: pointer;
    color: #000;
    background: white;
}

button {
    border: 2px solid black;
    background: transparent;
    color: white;
    padding: 1em 1em;
    font-family: Oswald, Helvetica, sans-serif;
    letter-spacing: 0.2em;
    outline: none;
}

button:hover {
    cursor: pointer;
    color: #000;
    background: white;
}

.pretragaSubmit {
    background: #fff;
    color: #000;
    border: 2px solid #000;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-size: cover;
    background-position: center;

}

.jumbotron1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-size: contain;
    background-position: left;

}

.jumbotron__central {
    font-family: "Papyrus", fantasy;
    color: whitesmoke;
    font-size: 2em;
    padding: 20px;
    text-transform: uppercase;
}

.jumbotron__central1 {
    background: #fff;
    font-family: Oswald;
    color: black;
    font-size: 3em;
    padding: 20px;
    text-transform: uppercase;
}

main {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5em;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-direction: column;
    height: 28em;
    width: 18em;
    background: white;
    margin-top: 1em;
}

article div {
    height: 50%;
}

.article__background img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.article__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article__info h3 {
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 0.7em;
    font-weight: 600;
}

.article__info p {
    width: 80%;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1em;
    text-align: center;
    padding-bottom: 1em;
}

.article__info a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #000;
}

article:hover {
    cursor: pointer;
    border: 2px solid #000;
    box-sizing: border-box;
}

.content1 {
    width: 80%;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 4em;
    font-size: 1.3em;
}

.content p {
    padding-top: 3.7em;
    padding-right: 2.7em;
    padding-left: 2.7em;
    padding-bottom: 4.7em;
    font-family: "Cursive", Lucida Handwriting;
    color: black;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 3px;

}

.submit_button {
    background: #fff;
    color: #000;
    border: 2px solid #000;
    display: flex;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.submit_button:hover {
    background: #000;
    color: #fff;
    border: 2px solid #000;
}