.newArticle__container {
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
}

.newArticle__container h2 {
    margin-bottom: 1em;
}

.html-editor-bubble {
    height: 10em;
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 1.2em;
    background: white;
}

form div {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

form input {
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 0.5em;
}

form label {
    font-weight: 600;
}

form div:not(:nth-last-of-type(1)) input {
    border: 1px solid #ccc;
    padding: 1em 1em;
    outline: none;
    margin-top: 0.5em;
}

form div:nth-last-of-type(1) input {
    margin-top: 0.5em;
}

.submit_button {
    background: #fff;
    color: #000;
    border: 2px solid #000;
    display: flex;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.submit_button:hover {
    background: #000;
    color: #fff;
    border: 2px solid #000;
}